@import url("https://fonts.googleapis.com/css?family=Poppins");
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.block .block-header .block-title {
  float: left;
}

.block .block-header .block-utility {
  float: right;
}

.block .block-content {
  margin-top: 1.5rem;
}

.column {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  color: #838387;
}

.view-all span {
  font-size: small;
}

.view-all img {
  display: inline-block;
  width: 1rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  direction: ltr;
  margin: 0;
  background-color: #f1f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

* {
  font-size: 100%;
  font-family: "Poppins";
  line-height: 1.5rem;
}

h1 {
  color: black;
  font-size: x-large;
  font-style: normal;
  font-weight: 700;
}

sup {
  position: relative;
  font-size: 80%;
}

#sidebar {
  margin: 0;
  width: 18rem;
  height: inherit;
  overflow: hidden;
  padding: 2rem 1rem;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#sidebar .sidebar-items {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  gap: 4rem;
}

#sidebar .sidebar-items .sidebar-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sidebar .sidebar-items .sidebar-header img {
  color: black;
  width: 2rem;
}

#sidebar .sidebar-items input[type="radio"] {
  display: none;
}

#sidebar .sidebar-items input[type="radio"]:checked + label {
  background: #e9f7fc;
  color: #22aae2;
}

#sidebar .sidebar-items input[type="radio"]:checked + label svg path {
  fill: #22aae2;
}

#sidebar .sidebar-items label {
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.25rem;
  font-size: x-large;
  font-weight: 500;
}

#sidebar .sidebar-items label:hover {
  background: #ddd;
  cursor: pointer;
}

#sidebar .sidebar-items .user-guides {
  gap: 1rem;
}

#sidebar .sidebar-items .user-guides .user-guides-list {
  margin-left: 1rem;
  gap: 0.5rem;
}

#sidebar .sidebar-items .user-guides .user-guides-list img {
  display: inline-block;
  width: 1rem;
}

@media (max-width: 1500px) {
  #sidebar {
    width: 7.5rem;
  }
  #sidebar label span {
    font-size: medium;
    display: block;
  }
  #sidebar .user-guides-list {
    display: none !important;
  }
}

.navbar {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .navbar-selector {
  padding: 1rem;
}

.navbar .navbar-selector select {
  border: none;
  font-weight: bold;
  width: 8.5rem;
  cursor: pointer;
}

.navbar .navbar-selector select:focus {
  outline: none;
}

.navbar .navbar-items {
  padding: 0 0.75rem 0 0.75rem !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.navbar .navbar-items > label {
  display: table;
  text-align: center;
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

.navbar .navbar-items > label:hover {
  background: #ddd;
  cursor: pointer;
}

.navbar .navbar-items > label span {
  display: table-cell;
  vertical-align: middle;
}

.navbar .navbar-items > input[type="radio"] {
  display: none;
}

.navbar .navbar-items > input[type="radio"]:checked + label {
  background: #e9f7fc;
  color: #22aae2;
}

.about-banner hr {
  margin: 1rem;
  padding: 0;
}

.about-banner img {
  max-height: auto;
  max-width: 7.5rem;
  margin: 1rem;
}

.about-banner p {
  margin: 0 1rem;
  font-size: medium;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (max-width: 700px) {
  .about-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-banner img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 10rem;
  }
}

.placements .placements-top3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: center;
}

.placements .placements-top3 .ranking {
  font-weight: bold;
}

.placements .placements-top3 .avatar {
  padding: 1rem;
  border-radius: 50%;
}

.placements .placements-top3 .avatar img {
  width: 3rem;
  height: 3rem;
}

.placements .placements-top3 .points {
  margin-top: 1.5rem;
}

.placements .placements-top3 .points div:last-child {
  font-weight: bold;
}

.placements .placements-top3 .first .avatar {
  padding: 2rem;
  border: 3px solid #f6c23c;
}

.placements .placements-top3 .first .points {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.placements .placements-top3 .first .points div:last-child {
  font-size: x-large;
  color: #f6c23c;
}

.placements .placements-top3 .second .avatar {
  border: 3px solid #838387;
}

.placements .placements-top3 .third {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.placements .placements-top3 .third .avatar {
  border: 3px solid #cbcbcc;
}

.placements .placements-leaderboard table {
  width: 100%;
  table-layout: fixed;
  border: none;
}

.placements .placements-leaderboard table tbody {
  overflow-x: auto;
  margin-top: 0px;
}

.placements .placements-leaderboard table tbody tr td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: medium;
  color: black;
}

.placements .placements-leaderboard table tbody tr td:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.placements .placements-leaderboard table tbody tr td:last-child {
  font-weight: bold;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.placements .placements-leaderboard table tbody tr:first-child {
  background-color: #fef9ec;
}

.placements .placements-leaderboard table tbody tr:first-child td:first-child {
  border-left: 3px solid #f6c23c;
}

.placements .placements-leaderboard table tbody tr:hover {
  background-color: #ddd;
}

.product-team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  white-space: nowrap;
  overflow: auto;
  padding: 0 1rem;
}

.product-team ul li {
  list-style-type: none;
  width: 15%;
  margin-left: -1rem;
}

.product-team ul li img {
  border-radius: 100%;
  border: 1px solid white;
  width: 100%;
}

.result-assesment .calender-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;
  color: black;
  font-weight: 600;
  border: 1px solid #cbcbcc;
}

.result-assesment img {
  max-width: 100%;
}

.table-template table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.table-template table .table-header {
  border-radius: 1rem;
  background-color: #f4fbfe;
}

.table-template table .table-header th {
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: left;
  font-weight: 500;
  font-size: large;
}

.table-template table .table-body {
  margin-top: 0px;
}

.table-template table .table-body tr:hover {
  background-color: #ddd;
}

.table-template table .table-body td {
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem;
  font-weight: 300;
  font-size: medium;
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#content {
  padding: 2rem;
  margin-left: 20rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#content .row1 .column1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#content .row1 .column1 .result-assesment {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#content .row1 .column1 .table-template {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#content .row1 .column2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#content .row1 .column2 .leaderboard {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#content .row1 .column2 .product-team {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1500px) {
  #content {
    margin-left: 10rem;
  }
}

@media (max-width: 1300px) {
  #content .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */