.block {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: $white;
  .block-header {
    .block-title {
      float: $direction;
    }
    .block-utility {
      float: $reverse-direction;
    }
  }
  .block-content {
    margin-top: 1.5rem;
  }
}

.column {
  display: flex !important;
  flex-direction: column;
}
.row {
  display: flex !important;
  flex-direction: row;
}
.spacer {
  flex: 1;
}

.view-all {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: $grey;
  span {
    font-size: $small-font;
  }
  img {
    display: inline-block;
    width: 1rem;
    @include rtl {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}
