$font-family: "Poppins";
$x-large-font: x-large;
$large-font: large;
$medium-font: medium;
$small-font: small;

$primary: #22aae2;
$black: black;
$white: white;
$gold: #f6c23c;
$grey: #838387;
$lightGrey: #cbcbcc;
$lightBlue: #f4fbfe;
$backgroundColor: #f1f4f6;
$goldBackground: #fef9ec;
$primaryBackground: #e9f7fc;
$hoverBackground: #ddd;

$direction: left !default;
$reverse-direction: right !default;

@if ($direction== right) {
  $reverse-direction: left;
}
