#content {
  padding: 2rem;
  margin-#{$direction}: 20rem;
  width: fit-content;
  height: fit-content;
  flex: 1 0 auto;

  .row1 {
    .column1 {
      flex: 2;
      .result-assesment {
        flex: 1;
      }
      .table-template {
        flex: 1;
      }
    }
    .column2 {
      flex: 1;
      .leaderboard {
        flex: 3;
      }
      .product-team {
        flex: 1;
      }
    }
  }

  @media (max-width: 1500px) {
    margin-#{$direction}: 10rem;
  }

  @media (max-width: 1300px) {
    .row1 {
      flex-direction: column;
    }
  }
}
