.navbar {
  flex-wrap: wrap;

  .navbar-selector {
    padding: 1rem;
    select {
      border: none;
      font-weight: bold;
      width: 8.5rem;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  .navbar-items {
    padding: 0 0.75rem 0 0.75rem !important;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: stretch;

    > label {
      display: table;
      text-align: center;
      width: 100%;
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-weight: 500;

      &:hover {
        background: $hoverBackground;
        cursor: pointer;
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    > input[type="radio"] {
      display: none;
      &:checked + label {
        background: $primaryBackground;
        color: $primary;
      }
    }
  }
}
