#sidebar {
  margin: 0;
  width: 18rem;
  height: inherit;
  overflow: hidden;
  padding: 2rem 1rem;
  background-color: $white;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-sizing: content-box;

  .sidebar-items {
    align-items: stretch;
    justify-content: center;
    border-radius: 1rem;
    gap: 4rem;

    .sidebar-header {
      justify-content: space-between;
      img {
        color: $black;
        width: 2rem;
      }
    }

    input[type="radio"] {
      display: none;
      &:checked + label {
        background: $primaryBackground;
        color: $primary;
        svg path {
          fill: $primary;
        }
      }
    }
    label {
      border-radius: 1rem;
      padding: 1rem;
      margin-bottom: 0.25rem;
      font-size: $x-large-font;
      font-weight: 500;
      &:hover {
        background: $hoverBackground;
        cursor: pointer;
      }
    }
    .user-guides {
      gap: 1rem;
      .user-guides-list {
        margin-#{$direction}: 1rem;
        gap: 0.5rem;

        img {
          display: inline-block;
          width: 1rem;
        }
      }
    }
  }
  @media (max-width: 1500px) {
    width: 7.5rem;
    label span {
      font-size: $medium-font;
      display: block;
    }

    .user-guides-list {
      display: none !important;
    }
  }
}
