.about-banner {
  hr {
    margin: 1rem;
    padding: 0;
  }
  img {
    max-height: auto;
    max-width: 7.5rem;
    margin: 1rem;
  }
  p {
    margin: 0 1rem;
    font-size: $medium-font;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    img {
      align-self: center;
      max-width: 10rem;
    }
  }
}
