.placements {
  .placements-top3 {
    justify-content: center;
    gap: 0.5rem;
    align-items: end;
    text-align: center;

    .ranking {
      font-weight: bold;
    }

    .avatar {
      padding: 1rem;
      border-radius: 50%;
      img {
        width: 3rem;
        height: 3rem;
      }
    }

    .points {
      margin: {
        top: 1.5rem;
      }
      div:last-child {
        font-weight: bold;
      }
    }

    .first {
      .avatar {
        padding: 2rem;
        border: 3px solid $gold;
      }
      .points {
        margin: {
          top: 1rem;
          bottom: 1rem;
        }
        div:last-child {
          font-size: $x-large-font;
          color: $gold;
        }
      }
    }

    .second {
      .avatar {
        border: 3px solid $grey;
      }
    }

    .third {
      justify-content: start;
      .avatar {
        border: 3px solid $lightGrey;
      }
    }
  }

  .placements-leaderboard {
    table {
      width: 100%;
      table-layout: fixed;
      border: none;
      tbody {
        overflow-x: auto;
        margin-top: 0px;
        tr {
          td {
            padding: 0.5rem;
            text-align: $direction;
            vertical-align: middle;
            font-weight: 300;
            font-size: $medium-font;
            color: $black;
            &:first-child {
              border-top-#{$direction}-radius: 0.25rem;
              border-bottom-#{$direction}-radius: 0.25rem;
            }
            &:last-child {
              font-weight: bold;
              border-top-#{$reverse-direction}-radius: 0.25rem;
              border-bottom-#{$reverse-direction}-radius: 0.25rem;
            }
          }
          &:first-child {
            background-color: $goldBackground;
            td:first-child {
              border-#{$direction}: 3px solid $gold;
            }
          }
          &:hover {
            background-color: $hoverBackground;
          }
        }
      }
    }
  }
}
