.product-team {

  ul {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: auto;
    padding: 0 1rem;
    li {
      list-style-type: none;
      width: 15%;
      margin-#{$direction}: -1rem;

      img {
        border-radius: 100%;
        border: 1px solid $white;
        width: 100%;
      }
    }
  }
}
