.result-assesment {
  .calender-button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: 4px;
    padding: 0.25rem 0.75rem;
    color: $black;
    font-weight: 600;
    border: 1px solid $lightGrey;
  }
  img {
    max-width: 100%;
  }
}
