.table-template {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    overflow-x: auto;

    .table-header {
      border-radius: 1rem;
      background-color: $lightBlue;

      th {
        border-radius: 0.25rem;
        padding: 0.5rem;
        text-align: $direction;
        font-weight: 500;
        font-size: $large-font;
      }
    }
    .table-body {
      margin-top: 0px;
      tr:hover {
        background-color: $hoverBackground;
      }
      td {
        vertical-align: middle;
        text-align: $direction;
        padding: 0.5rem;
        font-weight: 300;
        font-size: $medium-font;
        color: $black;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
      }
    }
  }
}
