body {
  direction: ltr;
  @include rtl {
    direction: rtl;
  }
  margin: 0;
  background-color: $backgroundColor;
  display: flex;
  height: 100vh;
}
* {
  font-size: 100%;
  font-family: $font-family;
  line-height: 1.5rem;
}
h1 {
  color: $black;
  font-size: $x-large-font;
  font-style: normal;
  font-weight: 700;
}
sup {
  position: relative;
  font-size: 80%;
}
